@{
    ViewData["Title"] = "Home Page";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-file-input.custom-file-input{
 
    height: 3em;
    font-size: 15px;
    margin: 10px 0;
    padding:10px 12px 12px 25px;

}

input{
    width: 100%;
    border-radius: 30px;
    border: none;
    height: 3em;
    font-size: 15px;
    margin: 10px 0;
    padding: 0 30px;
}

span:nth-child(2){
    background-color: #fffc00;
}
span:nth-child(3){
    background-color: #fffc00;
}

.Searchcitybtn{
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    background: green;
    border-radius: 20px;
    width: 50%;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
}
.Resetbtn{
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    background: red;
    border-radius: 20px;
    width: 50%;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
}
.primary{
    border: none;
    background: linear-gradient(45deg, rgba(222,197,5,1) 24%, rgba(255,107,0,1) 100%);
}
body{
      margin-top: 80px; 
    background:url(https://images.pexels.com/photos/64208/pexels-photo-64208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

</style>
</head>
<body>

 <div>
<form asp-action="RegisterRestaurant" asp-controller="Registration" method="post" enctype="multipart/form-data" >
 <div class="container">  
  <center>  <h1 style="color: white"> Thanks for partnering with us!Fill the details for Registration!</h1> </center>  

          <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="RestaurantName">Restaurant Name <span style="color:red;">*</span></label>
                        <input id="RestaurantName" type="text" name="RestaurantName" class="form-control" placeholder="Restaurant name" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="Area">Area <span style="color:red;">*</span></label>
                        <input id="Area" type="text" name="Area" class="form-control" placeholder="Area Name" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="city">City <span style="color:red;">*</span></label>
                        <input id="city" type="text" name="city" class="form-control" placeholder="City of service" required>
                    </div>
                </div>
            </div>
              <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="pincode">Pincode <span style="color:red;">*</span></label>
                        <input id="pincode" type="number" name="pincode" class="form-control" placeholder="Pincode of your city" required min="100001" max="999999">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="PhNo">Phone Number <span style="color:red;">*</span></label>
                        <input id="PhNo" type="text" name="PhNo" pattern="[6789][0-9]{9}" class="form-control" placeholder="Phone Number" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="ContactName">Contact Person Name</label>
                        <input id="ContactName" type="text" name="ContactName" class="form-control" placeholder="Contact Person Name" required>
                    </div>
                </div>
            </div>
              <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="MinTime">Minimun Delivery Time <span style="color:red;">*</span></label>
                        <input id="MinTime" type="number" name="MinTime" class="form-control" placeholder="Avg time of delivery in minutes" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="CostForTwo">Cost for Two <span style="color:red;">*</span></label>
                        <input id="CostForTwo" type="number" name="CostForTwo" class="form-control" placeholder=" Average Cost for Two" required>
                    </div>
                </div>
                 <div class="col-sm-4">    
                    <div class="form-group row">
                        <div class="col-sm-12">
                                <div class="custom-file">
                                        <label class="custom-file-label" for="photo" >Photo</label>
                                        <input id="photo" type="file" name="photo"  class="form-control custom-file-input ">
                                 </div>
                         </div>
                    </div>
                 </div>


            </div>
        </div>


          <br/>

         @*************************************@
          <h3 style="color: white">Add Menu</h3> 

        <div class="row">
            <div class="col-sm-1">
                    <div class="form-group">
                        <label for="SlNo">SlNo </label>
                        <input id="SlNo" type="text" class="form-control" value="1" readonly required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="FoodName">Food Name <span style="color:red;">*</span></label>
                        <input id="FoodName" type="text" name="FoodName11" class="form-control" placeholder="Name of Item" required>
                    </div>
                </div>
                 <div class="col-sm-2">
                    <div class="form-group">
                        <label for="Description">Description <span style="color:red;">*</span></label>
                        <input id="Description" type="text" name="Description12" class="form-control" placeholder="Item Description" required>
                    </div>
                </div>
@*                 <div class="col-sm-2">
                    <div class="form-group">
                        <label for="photoUrl">Photo Url</label>
                        <input id="photoUrl" type="text" name="photoUrl13" class="form-control" placeholder="Item Image URL" >
                    </div>
                </div>*@
                <div class="col-sm-2">    
                    <div class="form-group row">
                        <div class="col-sm-12">
                                <div class="custom-file">
                                        <label class="custom-file-label" for="photo" >Photo</label>
                                        <input id="photo" type="file" name="photoUrl13"  class="form-control custom-file-input ">
                                 </div>
                         </div>
                    </div>
                 </div>

                 <div class="col-sm-2">
                    <div class="form-group">
                        <label for="Price">Price</label>
                        <input id="Price" type="text" name="Price14" class="form-control" placeholder="Price of Item">
                        
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="IsNonVeg">Isveg</label>
                        <input id="IsNonVeg" type="text" name="IsNonVeg15" class="form-control" required="required" placeholder="Type Yes or No">
                    </div>
                </div>
          </div>

           <div class="row">
                <div class="col-sm-1">
                    <div class="form-group">
                        <input id="SlNo" type="text" class="form-control" value="2" readonly >
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <input id="FoodName" type="text" name="FoodName21" class="form-control" placeholder="Name of Item" >
                    </div>
                </div>
                 <div class="col-sm-2">
                    <div class="form-group">
                        <input id="Description" type="text" name="Description22" class="form-control" placeholder="Item Description">
                    </div>
                </div>
                @* <div class="col-sm-2">
                    <div class="form-group">
                        <input id="photoUrl" type="text" name="photoUrl23" class="form-control" placeholder="Item Image URL" >
                    </div>
                </div>*@
                 <div class="col-sm-2">    
                    <div class="form-group row">
                        <div class="col-sm-12">
                                <div class="custom-file">
                                        <input id="photo" type="file" name="photoUrl23"  class="form-control custom-file-input ">
                                 </div>
                         </div>
                    </div>
                 </div>
                 <div class="col-sm-2">
                    <div class="form-group">
                        <input id="Price" type="text" name="Price24" class="form-control" placeholder="Price of Item" >
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <input id="IsNonVeg" type="text" name="IsNonVeg25" class="form-control" placeholder="Type Yes or No">
                    </div>
                </div>

          </div>

           <div class="row">
                <div class="col-sm-1">
                    <div class="form-group">
                        <input id="SlNo" type="text" class="form-control" value="3" readonly >
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <input id="FoodName" type="text" name="FoodName31" class="form-control" placeholder="Name of Item" >
                    </div>
                </div>
                 <div class="col-sm-2">
                    <div class="form-group">
                        <input id="Description" type="text" name="Description32" class="form-control" placeholder="Item Description" >
                    </div>
                </div>
@*                 <div class="col-sm-2">
                    <div class="form-group">
                        <input id="photoUrl" type="text" name="photoUrl33" class="form-control" placeholder="Item Image URL" >
                    </div>
                </div>*@
                <div class="col-sm-2">    
                    <div class="form-group row">
                        <div class="col-sm-12">
                                <div class="custom-file">
                                        <input id="photo" type="file" name="photoUrl33"  class="form-control custom-file-input ">
                                 </div>
                         </div>
                    </div>
                 </div>
                 <div class="col-sm-2">
                    <div class="form-group">
                        <input id="Price" type="text" name="Price34" class="form-control" placeholder="Price of Item" >
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <input id="IsNonVeg" type="text" name="IsNonVeg35" class="form-control" placeholder="Type Yes or No" >
                    </div>
                </div>
          </div>

           <div class="row">        
                <div class="col-sm-1">
                    <div class="form-group">
                        <input id="SlNo" type="text"  class="form-control" value="4" readonly  >
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <input id="FoodName" type="text" name="FoodName41" class="form-control" placeholder="Name of Item" >
                    </div>
                </div>
                 <div class="col-sm-2">
                    <div class="form-group">
                        <input id="Description" type="text" name="Description42" class="form-control" placeholder="Item Description" >
                    </div>
                </div>
                 @*<div class="col-sm-2">
                    <div class="form-group">
                        <input id="photoUrl" type="text" name="photoUrl43" class="form-control" placeholder="Item Image URL" >
                    </div>
                </div>*@
                 <div class="col-sm-2">    
                    <div class="form-group row">
                        <div class="col-sm-12">
                                <div class="custom-file">
                                        <input id="photo" type="file" name="photoUrl43"  class="form-control custom-file-input ">
                                 </div>
                         </div>
                    </div>
                 </div>
                 <div class="col-sm-2">
                    <div class="form-group">
                        <input id="Price" type="text" name="Price44" class="form-control" placeholder="Price of Item" >
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <input id="IsNonVeg" type="text" name="IsNonVeg45" class="form-control" placeholder="Type Yes or No" >
                    </div>
                </div>
          </div>

           <div class="row">
                  <div class="col-sm-1">
                    <div class="form-group">
                        <input id="SlNo" type="text" class="form-control" value="5" readonly >
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <input id="FoodName" type="text" name="FoodName51" class="form-control" placeholder="Name of Item" >
                    </div>
                </div>
                 <div class="col-sm-2">
                    <div class="form-group">
                        <input id="Description" type="text" name="Description52" class="form-control" placeholder="Item Description" >
                    </div>
                </div>
@*                 <div class="col-sm-2">
                    <div class="form-group">
                        <input id="photoUrl" type="text" name="photoUrl53" class="form-control" placeholder="Item Image URL" >
                    </div>
                </div>*@
                <div class="col-sm-2">    
                    <div class="form-group row">
                        <div class="col-sm-12">
                                <div class="custom-file">
                                        <input id="photo" type="file" name="photoUrl53"  class="form-control custom-file-input ">
                                 </div>
                         </div>
                    </div>
                 </div>
                 <div class="col-sm-2">
                    <div class="form-group">
                        <input id="Price" type="text" name="Price54" class="form-control" placeholder="Price of Item" >
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                       <input id="IsNonVeg" type="text" name="IsNonVeg55" class="form-control" placeholder="Type Yes or No" >
                    </div>
                </div>
          </div>
          <br/>
          <div class="row">
                <div class="col-6">           
                    <div class="padding">

                        <button type="submit" class=" btn Searchcitybtn align-content-md-center align-self-center">Save</button>                
                </div>           
        </div>
        <div class="col-6"> 
<button type="reset" class=" btn Resetbtn align-content-md-center align-self-center ">Cancel</button>    
        </div>
    </div>







     @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }
</form>
</div>
</body>

</html>









